<script id="battlesTileTemplate" type="text/x-handlebars-template">
    {{#each docs}}
    <a href="view.do?id={{_id}}">
        <div class="mr_replay">
            <div class="mrr_head" style="background-image: url(/resources/img/maps/thumb/{{map._id}}.png)"
                 title="{{map.name_i18n}}">
                <div class="mrr_tank">
                    <div style="background-image: url({{tank.image.big}})"></div>
                </div>
            </div>
            <div class="mrr_ribbon win">
                <div class="mrr_earnings">
                    <div class="mrr_exp"><span>{{originalXP}}</span><i class="i-24_exp"></i></div>
                    <div class="mrr_medals"><span>{{medal.length}}</span><i class="i-24_medal"></i></div>
                </div>
                <div class="medal">
                    {{#with medal.[1]}}
                        <img src="/resources/img/medals/{{image}}"
                             alt="{{name_i18n}}" title="{{name_i18n}}" class="wtst_head_awards_item"/>

                        <div class="yellow-ribbon"></div>
                    {{/with}}
                </div>
            </div>
            <div class="mrr_info">
                <div class="mrr_title">{{playerName}} на {{tank.shortName_i18n}}</div>
                <div style="text-align: center;">
                    <div class="mrr_damage">
                        <span>{{damageDealt}}</span>
                        <i class="i-24_dmg tooltip">
                            <span class="tooltip-container">Урон</span>
                        </i>
                    </div>
                    <div class="mrr_assist">
                        <i class="i-24_assist tooltip">
                            <span class="tooltip-container">Урон по засвету</span>
                        </i>
                        <span>{{damageAssistedRadio}}</span>
                    </div>
                    <div class="mrr_frags">
                        <span>{{kills}}</span>
                        <i class="i-24_frags tooltip">
                            <span class="tooltip-container">Фраги</span>
                        </i>
                    </div>
                    <div class="mrr_dmg-blocked">
                        <i class="i-24_dmg-blocked tooltip">
                            <span class="tooltip-container">Заблокированный урон</span>
                        </i>
                        <span>{{damageBlockedByArmor}}</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {{/each}}
</script>